@import "tailwindcss";

/* Agar qo'shimcha stil yozmoqchi bo'lsangiz, pastidan yozasiz */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}